<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Document management{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">


        {% stylesheets
            'bundles/fosuseroverride/css/bootstrap.min.css'
            'bundles/fosuseroverride/css/main.css'
            filter='cssrewrite'
        %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {{ render(controller('AppBundle:Default:menu')) }}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
