<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Document management{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}
            {% stylesheets
                '//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'
                '//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css'
                '@AppBundle/Resources/public/css/main.css'
                filter='cssrewrite'
            %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {{ render(controller('AppBundle:Default:menu')) }}
        <div class="container">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            {% javascripts
            '//code.jquery.com/jquery-1.11.3.min.js'
            '//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'
            output='js/compiled/main.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

    </body>
</html>
