{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            {% if app.user %}
            <div>
                <p>Number my folder: {{ app.user.folders | length }}</p>
                <p>Number my document: {{ app.user.documents | length }}</p>
                <p>Number shared documents to me: {{ app.user.sharingDocuments | length }}</p>
            </div>
            {% endif  %}
        </div>
    </div>
{% endblock %}
