<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul id="side-menu" class="nav in">
            {{ knp_menu_render('AppBundle:Builder:leftMenu',  {'template': 'AppBundle:Menu:knp_left_menu.html.twig', 'currentClass' : 'active'}) }}
        </ul>
    </div>
</div>
