{% extends 'base.html.twig' %}
{% form_theme form '@App/Form/form_layout.html.twig'  %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            {{ form(form, {attr:{class:'form-inline', novalidate: 'novalidate'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Folder name</th>
                    <th>Author</th>
                    <th>Number documents</th>
                    <th>last modified</th>
                </tr>
                </thead>
                <tbody>
                {% for folder in folders  %}
                <tr>
                    <td>{{folder.__toString | raw }}</td>
                    <td>{{ folder.user.username }}</td>
                    <td>{{ folder.documents | length }}</td>
                    <td>action</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}