{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-8">
            &nbsp;
        </div>
        <div class="col-md-8">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Folder name</th>
                    <th>Author</th>
                    <th>Number documents</th>
                    <th>last modified</th>
                </tr>
                </thead>
                <tbody>
                {% for folder in folders  %}
                <tr>
                    <td>{{folder.__toString | raw }}</td>
                    <td>{{ folder.user.username }}</td>
                    <td>{{ folder.documents | length }}</td>
                    <td>action</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}